@{
    ViewData["Title"] = "Apagar Contato";
}

<div class="text-center">

    <h4>Realmente deseja apagar este contato?</h4>
    <a class="btn btn-primary" role="button"> Apagar</a>
    <a class="btn btn-danger" role="button" asp-controller="Contato" asp-action="Index">Voltar</a>
</div>